*.csv
*.txt
*.nii.gz
*.zip
*.mat
*.dcm
*.png
!readme_images/*.png
workspace*/*
!workspace/parameters.yaml
!requirements.txt
models
tmpmodel
**/data_prep_models/
**/constants.py
**/CreateCSVForDICOMs.py
**/figure_generator_wrapper.py
**/PrepareDataset.py